body {
    padding: 2em;
}

.videoContainer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 2em;
}

.controlGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 2em;
}

.controlGrid div, .controlGrid button {
    align-self: center;
    justify-self: stretch;
}

.controlGrid .playback-button {
    align-self: end;
}

#timecode {
    grid-column: 1 / 4;
    justify-self: center;
}

.controlGrid button {
    height: 60px;
    width: 100%;
    font-size: xx-large;
    line-height: 30px;
}

.scrubber {
    margin-top: 3em;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#playhead-marker {
    position: absolute;
    width: 3px;
    height: 72px;
    z-index: 1000;
    background: red;
}

.hidden {
    display: none;
}

.menu {
    position: absolute;
    left: 30%;
    right: 30%;
    background-color: lightpink;
}

.menu button {
    margin: 2em;
    height: 60px;
    font-size: xx-large;
    line-height: 30px;
    width: 80%;
}
